#home #standings {
    display: grid;
    grid-template-columns: repeat(9, max-content);
    grid-column-gap: 30px;
    justify-content: center;
}

#home #standings .avg-stats {
    grid-column-end: span 2;
}

#news #articles .author {
    color: #246598;
    font-weight: bold;
}

#news #articles .body {
    margin-bottom: 20px;
}